[project]
	description = Fixed-point multi-currency types for Postgres (contrib module)
[access "refs/*"]
	owner = group user/Sam Vilain (samv)
[access "refs/for/refs/*"]
	read = group user/Sam Vilain (samv)
	push = group user/Sam Vilain (samv)
	label-Code-Review = -2..+2 group user/Sam Vilain (samv)
	label-Verified = -1..+1 group user/Sam Vilain (samv)
	rebase = group user/Sam Vilain (samv)
	removeReviewer = group user/Sam Vilain (samv)
	submit = group user/Sam Vilain (samv)
[access "refs/heads/*"]
	read = group user/Sam Vilain (samv)
	create = group user/Sam Vilain (samv)
	push = +force group user/Sam Vilain (samv)
	pushMerge = group user/Sam Vilain (samv)
[access "refs/tags/*"]
	push = +force group user/Sam Vilain (samv)
	pushTag = group user/Sam Vilain (samv)
	pushSignedTag = group user/Sam Vilain (samv)
